@page "/"

<h1>Welcome to RetroCade</h1>
<p>You have turned up very early. We are currently working on some exciting projects which will be available here in the future.</p>
<p>Come hang out on our <a href="https://github.com/PlayCade">GitHub</a> or <a href="https://discord.gg/tkCMXrWdkD">Discord</a> to find out more</p>

